@model DataLayer.Users
@using System.Configuration

<div style="direction:rtl;padding:10px">
    <h2>@Model.UserName عزیز!</h2>
    <p>با تشکر از ثبت نام شما در سایت ما برای فعالسازی حساب خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Accounts/ActiveUser/@Model.ActiveCode" style="text-decoration:none;color:green;">لینک فعالسازی</a>
    </p>
</div>
