@model DataLayer.Users
@using System.Configuration

<div style="direction:rtl;padding:10px">
    <h2>@Model.UserName عزیز!</h2>
    <p>برای دریافت کلمه عبور جدید روی لینک زیر کلیک کنید</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Accounts/RecovryPassword/@Model.ActiveCode" style="text-decoration:none;color:green;>لینک فعالسازی</a>
    </p>
</div>
