
@{
    ViewBag.Title = "فعالسازی";
}
<div class="alert alert-success">
    <h4>@ViewBag.username عزیز!</h4>
    <p>
        خوش آمدید برای ورود روی این
        <a href="/Login">لینک</a>
        کلیک کنید.
    </p>
</div>
